/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/

@import url("https://cdn.jsdelivr.net/npm/bullframe.css");
@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900|Righteous&display=swap');

/*****---------------------------------------- 1) font-family: 'Rajdhani', sans-serif;
 2) font-family: 'Poppins', sans-serif;
 ----------------------------------------*****/


/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/

@import url(animate.min.css);
@import url(normalize.css);
@import url(meanmenu.css);
@import url(owl.carousel.min.css);
@import url(slick.css);
@import url(jquery-ui.css);
@import url(nice-select.css);

/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/

* {
     box-sizing: border-box !important;
}

html {
     scroll-behavior: smooth;
}

body {
     color: #666666;
     font-size: 14px;
     font-family: 'Lato', sans-serif;
     line-height: 1.80857;
     font-weight: normal;
     /* user-select: none; */
}

::selection {
     color: #fff;
     background-color: var(--main);
}

:root {
     --main: #865DFF;
     --main-dark: #6740d9;
     --red: #EF1551;
     --orange: #F15A23;
     --pink: #CC56A0;
}

a {
     color: #1f1f1f;
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

b {
     font-size: 1.9rem;
     text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
     letter-spacing: 0;
     font-weight: normal;
     position: relative;
     padding: 0 0 10px 0;
     font-weight: normal;
     line-height: normal;
     color: #111111;
     margin: 0
}

h1 {
     font-size: 24px;
     font-family: 'Righteous', cursive;
}

h2 {
     font-size: 22px;
     font-family: 'Righteous', cursive;
}

h3 {
     font-size: 18px;
     font-family: 'Righteous', cursive;
}

h4 {
     font-size: 16px
}

h5 {
     font-size: 14px
}

h6 {
     font-size: 13px
}

*,
*::after,
*::before {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
     color: #212121;
     text-decoration: none !important;
     opacity: 1
}

button:focus {
     outline: none;
}

ul,
li,
ol {
     margin: 0px;
     padding: 0px;
     list-style: none;
}

p {
     margin: 0px;
     font-weight: 300;
     font-size: 17px;
     line-height: 28px;
}

a {
     color: #222222;
     text-decoration: none;
     outline: none !important;
}

a,
.btn {
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

img {
     max-width: 100%;
     height: auto;
}

:focus {
     outline: 0;
}

.btn-custom {
     margin-top: 20px;
     background-color: transparent !important;
     border: 2px solid #ddd;
     padding: 12px 40px;
     font-size: 16px;
}

.lead {
     font-size: 18px;
     line-height: 30px;
     color: #767676;
     margin: 0;
     padding: 0;
}

.form-control:focus {
     border-color: #ffffff !important;
     box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}

.navbar-form input {
     border: none !important;
}

.badge {
     font-weight: 500;
}

blockquote {
     margin: 20px 0 20px;
     padding: 30px;
}

button {
     border: 0;
     margin: 0;
     padding: 0;
     cursor: pointer;
}

.full {
     float: left;
     width: 100%;
}

.layout_padding {
     padding-top: 90px;
     padding-bottom: 90px;
}

.layout_padding_2 {
     padding-top: 75px;
     padding-bottom: 75px;
}

.light_silver {
     background: #f9f9f9;
}

.theme_bg {
     background: #38c8a8;
}

.margin_top_30 {
     margin-top: 30px !important;
}

.full {
     width: 100%;
     float: left;
     margin: 0;
     padding: 0;
}


/**-- heading section --**/


/*---------------------------- preloader area ----------------------------*/

.main-layout {
     background-repeat: no-repeat;
     background: url(../images/body_bg.png);
}

.loader_bg {
     position: fixed;
     z-index: 9999999;
     background: #fff;
     width: 100%;
     height: 100%;
}

.loader {
     height: 100%;
     width: 100%;
     position: absolute;
     left: 0;
     top: 0;
     display: flex;
     justify-content: center;
     align-items: center;
}

.loader img {
     width: 280px;
}


/*-- navigation--*/

.navigation.navbar {
     padding-top: 12px;
     float: right;
}

.navigation.navbar-dark .navbar-nav .nav-link {
     padding: 0 25px;
     color: #fff;
     font-size: 16px;
     line-height: 20px;
     text-transform: uppercase;
     position: relative;
}

.navigation.navbar-dark .navbar-nav .nav-link::after {
     width: 0%;
     height: 3px;
     border-radius: 3rem;
     background-color: #02fee5;
     position: absolute;
     content: '';
     left: 50%;
     bottom: -5px;
     transition: all .3s ease
}

.navigation.navbar-dark .navbar-nav .nav-link:hover:after {
     width: 100%;
     left: 0;
}

.navigation.navbar-dark .navbar-nav .nav-link:focus,
.navigation.navbar-dark .navbar-nav .nav-link:hover {
     color: #000;

}

.navigation.navbar-dark .navbar-nav .active>.nav-link,
.navigation.navbar-dark .navbar-nav .nav-link.active,
.navigation.navbar-dark .navbar-nav .nav-link.show,
.navigation.navbar-dark .navbar-nav .show>.nav-link {
     color: #fdd430;
}


/*-- header area --*/


/*--------------------------------------------------------------------- top banner area ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- layout new css ---------------------------------------------------------------------*/

.head_top {
     background: url(../images/studi-purple.jpg);
     background-size: cover;
     background-repeat: no-repeat;
     height: 100vh;
     background-position: center;
}

.header {
     width: 100%;
     background: transparent;
     padding: 30px 30px;
}

.logo a {
     font-size: 40px;
     font-weight: bold;
     letter-spacing: 5px;
     font-family: 'Macondo Swash Caps', cursive;
     color: #E384FF;
     line-height: 40px;
}

.banner_main {
     padding: 20vh 0 190px 0;
}

.text-bg {
     text-align: left;
}

.text-bg h1 {
     color: #fbfbfb;
     font-size: 12rem;
     margin-bottom: 2rem;
     line-height: 110px;
     font-weight: bold;
}

.text-bg p {
     color: #fff;
     font-size: 17px;
     line-height: 28px;
     padding: 4rem 0;
}

.text-bg a {
     font-size: 17px;
     background-color: #fff;
     color: #000;
     padding: 13px 0px;
     width: 100%;
     max-width: 190px;
     text-align: center;
     display: inline-block;
     transition: ease-in all 0.5s;
}

.text-bg a:hover {
     background-color: #02fee5;
     color: #000;
     transition: ease-in all 0.5s;
     border-radius: 26px;
}

.text-img {
     text-align: left;
}

.white1 {
     color: #E3DCF8;
     font-size: 4rem;
}

.titlepage {
     text-align: center;
     padding-bottom: 60px;
}

.titlepage h2 {
     font-size: 40px;
     color: var(--main-dark);
     line-height: 57px;
     font-weight: bold;
     padding: 0;
     padding-bottom: 20px;
}

.d_flex {
     display: flex;
     align-items: center;
     flex-wrap: wrap;
}

/*--------------- Assignments Start  ---------------------------------------------------------------------*/
#assignment {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     padding: 5rem 0;
}

.assignment-header {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     text-align: center;
     padding: 0 2rem;
     margin-bottom: 3rem;
}

.assignment-header h1 {
     font-size: 5rem;
     color: var(--main-dark);
     margin: 2rem 0;
}

.assignment-header p .assignment-header p strong {
     font-weight: 600;
}

.assignments {
     display: flex;
     align-items: flex-start;
     justify-content: center;
     flex-wrap: wrap;
}

.assignments-box {
     border: 1px solid #212121;
     width: 350px;
     height: auto;
     border-radius: 1rem;
     display: flex;
     align-items: center;
     justify-content: flex-start;
     padding: 3rem 3rem;
     flex-direction: column;
     text-align: center;
     background: rgba(218, 215, 215, 0.357);
     border-radius: 16px;
     box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
     backdrop-filter: blur(5px);
     -webkit-backdrop-filter: blur(5px);
     border: 1px solid rgba(93, 93, 93, 0.3);
     margin: 2rem 2rem;
     transition: all .5s ease;
     cursor: pointer;

}

.assignments-box:hover {
     background-color: #6640d95b;
}

.assingments-img {
     width: 100%;
     height: 200px !important;
     background-image: url(../images/assignments.png);
     background-position: center;
     background-size: cover;
     border: 1px solid #865dff3f;
     border-radius: 1rem;
}


.assignments-box h3 {
     margin-top: 2.5rem;
     font-family: 'Righteous', sans-serif;
     font-size: 2.5rem;
}

.assignments-box h3 sup {
     color: #4e4e4e;
}

.assignments-desc {
     width: 100%;
     height: auto;
     display: flex;
     align-items: center;
     justify-content: space-between;
     flex-direction: column;
}

.assignments-box a {
     background-color: var(--main);
     border-radius: 3rem;
     border: 3px solid #fff;
     padding: 1rem 3rem;
     color: #fff;
     transition: all .3s ease;
     font-weight: 600;
}

.btn-main {
     background-color: var(--main);
     border-radius: 3rem;
     border: 3px solid var(--main);
     padding: 1rem 3rem;
     color: #fff;
     transition: all .3s ease;
     font-weight: 600;
     position: relative;
}

.btn-main::after {
     content: '';
     width: 100%;
     height: 100%;
     border-radius: 3rem;
     border: 3px solid var(--main);
     position: absolute;
     left: 0;
     top: 0;
     transform: scale(1.5);
}

.btn-main:hover {
     color: var(--main);
     background-color: #FFF;
     letter-spacing: 2px;

}

.assignments-box a:hover {
     color: var(--main);
     background-color: #FFF;
     letter-spacing: 2px;
     border: 2px solid var(--main);

}

.assignments-more {
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 4rem 0;
}

.assignments-more a {
     font-size: 2rem;
     margin-right: 1rem;
     border: 2px solid #d343ff;
     padding: 1rem 1.5rem;
     background-color: #C15AFF;
     color: #fff;
}

.assignments-more i {
     transition: all .3s ease;
     margin-left: 1rem;
     color: #fff;
}

.assignments-more a:hover i {
     margin-left: 2rem;
}

.assignments-more a:hover {
     border-radius: 3rem;
}

.assignments-btn {
     font-size: 1.7rem;
     padding: 1.2rem 1.5rem;
     border-radius: 1rem;
     border: 2px solid var(--main);
     color: var(--main-dark);
     font-weight: 500;
     font-family: 'Righteous', cursive;
     position: relative;
     overflow: hidden;
     margin-top: 4rem;
}

.assignments-btn::after {
     content: '';
     position: absolute;
     width: 0%;
     transition: all .4s ease;
     height: 100%;
     left: 0;
     top: 0;
     background-color: var(--main-dark);
     z-index: -1;
}

.assignments-btn:hover {
     color: #fff;
}

.assignments-btn:hover::after {
     width: 100%;
}


/*-------- Assginments End  ---------------------------------------------------------------------*/
/*--------------------------------------------------------------------- Syllabus  ---------------------------------------------------------------------*/
.bf-table caption {
     margin-top: 2rem;
}

.bf-table caption a {
     text-decoration: underline !important;
}

.syllabus h1 {
     text-align: center;
     font-size: 5rem;
     margin: 4rem 0;
     color: var(--main-dark);
}

.download-btn {
     font-weight: 700;
     letter-spacing: 1px;
     text-decoration: underline !important;
     color: #6c3aff;
}

.download-btn:hover {
     color: #C15AFF;
}

/*--------------------------------------------------------------------- End Syllabus  ---------------------------------------------------------------------*/

/*---------------------------------------------------------------------
  Start Syllabus Manual Answers  ---------------------------------------------------------------------*/
#manual-ans {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     padding: 5rem 0;
}

.manual-ans-header {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     text-align: center;
     margin: 4rem 0;
     padding: 0 2.5rem;

}

.manual-ans-header h1 {
     font-size: 5rem;
     color: var(--main-dark);
}

.manual-ans {
     display: flex;
     align-items: center;
     justify-content: space-evenly;
     flex-wrap: wrap;
     width: 100%;
}

.manual-box {
     display: flex;
     align-items: center;
     justify-content: center;
     margin: 4rem 0;
}

.manual-img {
     width: 250px;
}

.manual-img img {
     width: 100%;
     height: 100%;
     object-fit: cover
}

.manual-desc {
     height: 354px;
     width: 400px;
     padding: 1.5rem 2rem;
     display: flex;
     align-items: flex-start;
     justify-content: flex-start;
     flex-direction: column;
     text-align: left;
     border-radius: 0 1rem 1rem 0;
     border-top: 1px solid var(--main);
     border-right: 1px solid var(--main);
     border-bottom: 1px solid var(--main);
}

.btn-slide, .btn-slide2 {
     position: relative;
     display: inline-block;
     height: 50px;
     width: 200px;
     line-height: 50px;
     padding: 0;
     border-radius: 50px;
     background: #fdfdfd;
     border: 2px solid #CC56A0;
     margin: 10px;
     transition: .5s;
}

.btn-slide2 {
     border: 2px solid var(--main);
}

.btn-slide:hover {
     background-color: var(--main);
}

.btn-slide2:hover {
     background-color: var(--main);
}

.btn-slide:hover span.circle, .btn-slide2:hover span.circle2 {
     left: 100%;
     margin-left: -45px;
     background-color: #fdfdfd;
     color: var(--main-dark);
}

.btn-slide2:hover span.circle2 {
     color: var(--main);
}

.btn-slide:hover span.title, .btn-slide2:hover span.title2 {
     left: 40px;
     opacity: 0;
}

.btn-slide:hover span.title-hover, .btn-slide2:hover span.title-hover2 {
     opacity: 1;
     left: 40px;
}

.btn-slide span.circle, .btn-slide2 span.circle2 {
     display: block;
     background-color: var(--main);
     color: #fff;
     position: absolute;
     float: left;
     margin: 5px;
     line-height: 42px;
     height: 40px;
     width: 40px;
     top: -2px;
     left: 0;
     transition: .5s;
     border-radius: 50%;
}



.btn-slide2 span.circle2 {
     text-align: center;
}

.btn-slide span.title,
.btn-slide span.title-hover, .btn-slide2 span.title2,
.btn-slide2 span.title-hover2 {
     position: absolute;
     left: 90px;
     text-align: center;
     margin: 0 auto;
     font-size: 16px;
     font-weight: bold;
     color: var(--main);
     transition: .5s;
     top: -3px;
}

.btn-slide2 span.title2,
.btn-slide2 span.title-hover2 {
     color: var(--main);
     left: 80px;
}

.btn-slide span.title-hover, .btn-slide2 span.title-hover2 {
     left: 80px;
     opacity: 0;
}

.btn-slide span.title-hover, .btn-slide2 span.title-hover2 {
     color: #fff;
}

/*--------------------------------------------------------------------- 
End Syllabus Manual Answers  ---------------------------------------------------------------------*/




/** contact section **/

.padd_leri0 {
     padding-left: 0;
     padding-right: 0;
}

.contact .titlepage span {
     font-size: 17px;
     line-height: 28px;
}

.contact {
     padding-top: 90px;
}

.main_form {
     padding: 50px 50px;
     border: var(--main) solid 1px;
     margin: 0px 80px;
}

.contact .main_form .form_contril {
     border: var(--main) solid 1px;
     margin-bottom: 20px;
     width: 100%;
     height: 45px;
     background: #fff;
     color: #fd69fa;
     font-size: 17px;
     border-top: 0;
     border-right: 0;
     border-left: 0;
}

.contact .main_form .textarea {
     border: var(--main) solid 1px;
     margin-bottom: 20px;
     width: 100%;
     height: 60px;
     background: #fff;
     color: #fd69fa;
     font-size: 17px;
     border-top: 0;
     border-right: 0;
     border-left: 0;
}

.contact .main_form .send_btn {
     font-size: 17px;
     transition: ease-in all 0.5s;
     background-color: var(--main);
     text-transform: uppercase;
     color: #fff;
     padding: 13px 0px;
     float: right;
     display: block;
     margin-top: 30px;
     width: 100%;
     max-width: 190px;
}

.contact .main_form .send_btn:hover {
     background-color: #E384FF;
     transition: ease-in all 0.5s;
     color: #fff;
     border-radius: 26px;
}

#contact *::placeholder {
     color: var(--main);
     opacity: 1;
}

.current {
     color: #fff;
     margin-top: -4px;
     position: absolute;
}

.con_img figure {
     margin: 0;
}

.con_img figure img {
     width: 100%;
}


/** end contact section **/

.read_more {
     font-size: 17px;
     background-color: #fff;
     color: #000;
     padding: 13px 0px;
     width: 100%;
     max-width: 190px;
     text-align: center;
     display: inline-block;
     transition: ease-in all 0.5s;
     border-radius: 10px;
}

.read_more:hover {
     background: #000;
     color: #fff;
     border-radius: 26px;
     transition: ease-in all 0.5s;
}


/** footer **/

.multi {
     color: var(--main-dark);
}


.cont {
     text-align: center;
     margin-top: 80px;
}

.cont h3 {
     font-family: 'Righteous', cursive;
     font-size: 30px;
     line-height: 45px;
     color: #23262d;
     font-weight: bold;
     padding-bottom: 30px;
}

.cont span {
     color: #fff;
     font-size: 30px;
     line-height: 30px;
     padding: 30px 0px 30px 0px;
     display: inline-block;
     font-weight: bold;
}

.cont p {
     color: #fff;
     font-size: 17px;
     line-height: 30px;
     padding: 0 130px;
     padding-bottom: 60px;
}

ul.social_icon {
     text-align: center;
}

ul.social_icon li {
     display: inline-block;
     margin: 0 3px;
}

ul.social_icon li a {
     background: #fff;
     box-shadow: #ddd 0px 0px 10px 0px;
     font-size: 22px;
     padding-top: 5px;
     border-radius: 50px;
     width: 50px;
     height: 50px;
     display: inline-block;
     color: #000000;
}

ul.social_icon li a:hover {
     background: var(--main);
     color: #fff;

}

.copyright {
     padding: 4rem 0px;
     background: var(--main);
     margin-top: 50px;
     position: relative;
}


.copyright p {
     color: #fff;
     font-size: 18px;
     line-height: 22px;
     text-align: center;
}

.copyright a {
     color: #fff;
     text-decoration: underline !important;
}

.copyright a:hover {
     color: #000;
}

/* Navbar */
nav {
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 0 2rem;
     width: 100%;
     height: 80px;
     transition: all .5s ease;
}

nav.active-bar {
     position: fixed;
     background-color: var(--main);
     z-index: 100;
}

nav.active-bar .logo h1 {
     color: #fff;
}

nav .logo h1 {
     font-size: 4rem;
     color: #02fee500;
     transition: all .5s ease;
     padding: 0 !important;
     font-weight: 300;
}

nav ul {
     display: flex;
     align-items: center;
     justify-content: center;
}

nav ul li {
     margin: 0 1.3rem;
}

nav ul li a {
     padding: 1rem 1.5rem;
     color: #fff;
     font-size: 2rem;
     position: relative;
}

nav ul li a::after {
     width: 0%;
     left: 50%;
     content: '';
     position: absolute;
     background-color: #fff;
     height: 3px;
     border: 30px;
     bottom: 0;
     transition: all .3s ease-in-out;
}

nav ul li a:hover::after {
     width: 100%;
     left: 0;
}

nav ul li a:hover {
     color: #fff;
}

.hamburger {
     /* display: flex;
     align-items: flex-end;
     justify-content: center;
     flex-direction: column;
     position: relative;
     height: 40px;
     width: 60px;
     cursor: pointer;
     display: none;
     transition: all .3s ease; */

     display: none;
     flex-direction: column;
     width: 45px;
     cursor: pointer;
}

.hambar {
     background: #fff;
     border-radius: 10px;
     height: 4px;
     margin: 4px 0;
     transition: .4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.hambar:nth-child(1) {
     width: 50%;
}

.hambar:nth-child(2) {
     width: 100%;
}

.hambar:nth-child(3) {
     width: 75%;
}

.hamburger.active .hambar:nth-child(1) {
     transform-origin: bottom;
     transform: rotatez(45deg) translate(4px, 0px)
}

.hamburger.active .hambar:nth-child(2) {
     transform-origin: top;
     transform: rotatez(-45deg)
}

.hamburger.active .hambar:nth-child(3) {
     transform-origin: bottom;
     width: 50%;
     transform: translate(19px, -5px) rotatez(45deg);
}

/* Notes */
#notes {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     padding: 6rem 0;
}

.alert-danger {
     margin-bottom: 5rem;
     width: 100%;
     text-align: center;
}

.notes-header {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     text-align: center;
     margin: 3rem 0;
}

.notes-header h1 {
     font-size: 5rem;
     color: var(--main-dark);
}

.notes {
     display: flex;
     align-content: flex-end;
     justify-content: center;
     flex-wrap: wrap;
}

.notes-box {
     display: flex;
     align-items: center;
     justify-content: space-between;
     flex-direction: column;
     padding: 0px 30px;
     width: 300px;
     text-align: center;
     position: relative;
     overflow: hidden;
     margin: 15px 15px;
     transform-style: preserve-3d;
     transition: all .3s ease;
}

.notes-box-bg {
     background: var(--main);
     position: absolute;
     width: 100%;
     height: 100%;
     border-radius: 16px;
     box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
     border: 1px solid #6c3aff;
     filter: blur(1px) saturate(1);
     background-position: center;
}

.notes-box h1 {
     font-size: 2.4rem;
     color: #fff;
     margin-top: 4rem;
}

.notes-box p {
     margin: 1rem 0;
     z-index: 2;
     color: #f9f9f9;
}

.btn-notes {
     color: #fff;
     z-index: 2;
     font-size: 2rem;
     overflow: hidden;
     padding: 0rem 0rem;
     width: 150px;
     border: 2px solid #fff;
     margin-bottom: 4rem;
     position: relative;
     border-radius: 1.2rem;
}

.btn-notes::after {
     width: 0;
     height: 50%;
     background-color: #fff;
     bottom: 0;
     left: 0;
     position: absolute;
     content: '';
     transition: all .4s ease;
     z-index: -1;
}

.btn-notes:hover::after {
     width: 100%;
}

.btn-notes::before {
     width: 0;
     height: 50%;
     background-color: #fff;
     top: 0;
     right: 0;
     position: absolute;
     content: '';
     transition: all .4s ease;
     z-index: -1;
}

.btn-notes:hover::before {
     width: 100%;
}

.btn-notes:hover {
     filter: saturate(1.5);
     color: #3e3e3e;

}

.notes-box:hover {
     filter: saturate(2);
}

/* Footer */
#footer-main {
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 4rem 3rem;
     background-color: var(--main);
     margin-top: 5rem;
}

.footer-main-desc {
     display: flex;
     align-items: flex-start;
     justify-content: flex-start;
     flex-direction: column;
     text-align: left;
     padding: 0 2rem;
     width: 500px;
}

.footer-main-desc h1 {
     font-size: 5rem;
     color: #fff;
}

.footer-main-desc p {
     color: #fff;
}

.footer-main-desc p a {
     color: #fff;
     text-decoration: underline;
     border-bottom: 1px solid #fff;
}

.footer-btn {
     padding: 1rem 2rem;
     border: 2px solid #fff;
     text-align: center;
     color: #fff;
     font-weight: 700;
     font-size: 1.7rem;
     margin: 2rem 0;
}

.footer-btn:hover {
     color: #d1d1d1;
}

.footer-rights {
     padding: 0 2rem;
     text-align: center;
     justify-content: center;
     flex-direction: column;
     display: flex;
     margin: 0 2rem;
}

.footer-rights p {
     color: #fff;
}

.footer-rights p a {
     color: #fdd430;
}

.footer-touch {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     user-select: text;
     text-align: center;
}

.footer-touch p {
     color: #fff;
}

.footer-touch h2 {
     color: #fff;
}

.footer-ico ul {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     text-align: center;
}

.footer-ico ul li {
     display: flex;
     align-items: center;
     justify-content: center;
     color: #fff;
     font-size: 1.6rem;
     margin: 1rem 0;
}

.footer-ico ul li i {
     font-size: 2rem;
     color: #FFF;
     margin-right: 1rem;
}
#version{
     color: #fff;
     font-size: 1.8rem;
     font-weight: 600;
}

/* Navigation */
#navigation {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     padding: 7rem 0;
}

.navi-header {
     padding: 0 2rem;
}

.navi {
     display: flex;
     align-items: flex-start;
     justify-content: center;
     flex-wrap: wrap;
}

.navi-box {
     display: flex;
     align-items: center;
     justify-content: space-between;
     flex-direction: column;
     text-align: center;
     margin: 2rem 2rem;
     width: 350px;
}

.navi-links {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
}

.navi-box-head {
     text-align: center;
     display: flex;
     align-items: center;
     flex-direction: column;
     justify-content: space-between;
     margin-bottom: 2rem;
}

.navi-box h1 {
     font-size: 3rem;
}

.navi-box h2 {
     font-size: 2rem;
     color: #666666;
}

.button-85 {
     padding: 1.5rem 6rem;
     margin: 2rem 0;
     border: none;
     outline: none;
     color: rgb(255, 255, 255);
     background: #111;
     cursor: pointer;
     position: relative;
     z-index: 0;
     border-radius: 10px;
     user-select: none;
     -webkit-user-select: none;
     touch-action: manipulation;
     font-weight: 700;
     font-size: 2rem;
     transition: all .3s ease;
}

.button-85:before {
     content: "";
     background: linear-gradient(45deg,
               #ff0000,
               #ff7300,
               #fffb00,
               #48ff00,
               #00ffd5,
               #002bff,
               #7a00ff,
               #ff00c8,
               #ff0000);
     position: absolute;
     top: -2px;
     left: -2px;
     background-size: 400%;
     z-index: -1;
     filter: blur(5px);
     -webkit-filter: blur(5px);
     width: calc(100% + 4px);
     height: calc(100% + 4px);
     animation: glowing-button-85 20s linear infinite;
     transition: opacity 0.3s ease-in-out;
     border-radius: 10px;
}

.button-85:hover {
     color: var(--main);
     letter-spacing: 2px;
}

/* About Us */
#aboutus {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     padding: 6rem 0;
}

.aboutus {
     display: flex;
     align-items: center;
     width: 90%;
     justify-content: space-evenly;
}

.aboutus-text {
     background: rgba(255, 255, 255, 0.25);
     box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
     backdrop-filter: blur(8px);
     -webkit-backdrop-filter: blur(8px);
     border-radius: 1rem;
     border: 1px solid rgba(255, 255, 255, 0.18);
     width: 500px;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     text-align: center;
     padding: 4rem 2rem;
     transform-style: preserve-3d
}

.aboutus-text h2 {
     transform: translateZ(20px);
}

@keyframes glowing-button-85 {
     0% {
          background-position: 0 0;
     }

     50% {
          background-position: 400% 0;
     }

     100% {
          background-position: 0 0;
     }
}

.button-85:after {
     z-index: -1;
     content: "";
     position: absolute;
     width: 100%;
     height: 100%;
     background: #222;
     left: 0;
     top: 0;
     border-radius: 10px;
}

/* About Us */
.aboutus {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-wrap: wrap;
}

.aboutus-box {
     margin: 0 2rem;
}

.our-team {
     padding: 30px 0 40px;
     margin-bottom: 30px;
     background-color: #f7f5ec;
     text-align: center;
     overflow: hidden;
     position: relative;
     width: 300px;
     margin: 2rem 2rem;
}

.our-team .picture {
     display: inline-block;
     height: 130px;
     width: 130px;
     margin-bottom: 50px;
     z-index: 1;
     position: relative;
}

.our-team .picture::before {
     content: "";
     width: 100%;
     height: 0;
     border-radius: 50%;
     background-color: var(--main);
     position: absolute;
     bottom: 135%;
     right: 0;
     left: 0;
     opacity: 0.9;
     transform: scale(3);
     transition: all 0.3s linear 0s;
}

.our-team:hover .picture::before {
     height: 100%;
}

.our-team .picture::after {
     content: "";
     width: 100%;
     height: 100%;
     border-radius: 50%;
     background-color: var(--main);
     position: absolute;
     top: 0;
     left: 0;
     z-index: -1;
}

.our-team .picture img {
     width: 100%;
     height: auto;
     border-radius: 50%;
     transform: scale(1);
     transition: all 0.9s ease 0s;
}

.our-team:hover .picture img {
     box-shadow: 0 0 0 14px #f7f5ec;
     transform: scale(0.7);
}

.our-team .title {
     display: block;
     font-size: 15px;
     color: #4e5052;
     text-transform: capitalize;
}

.our-team .social {
     width: 100%;
     padding: 0;
     margin: 0;
     background-color: var(--main);
     position: absolute;
     bottom: -100px;
     left: 0;
     transition: all 0.5s ease 0s;
}

.our-team:hover .social {
     bottom: 0;
}

.our-team .social li {
     display: inline-block;
}

.our-team .social li a {
     display: block;
     padding: 10px;
     font-size: 17px;
     color: white;
     transition: all 0.3s ease 0s;
     text-decoration: none;
}

.our-team .social li a:hover {
     color: var(--main-dark);
     background-color: #f7f5ec;
}


/* Papers */
#papers {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     padding: 6rem 0;
}

#papers-main {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     padding: 6rem 0;
}

.papers-header {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     text-align: center;
     margin: 3rem 0;
     padding: 0 3rem;
}

.papers-header h1 {
     font-size: 5rem;
     color: var(--main-dark);
}

.papers {
     width: 80%;
}

.papers-table {
     width: 80%;
     margin: 3rem 0;
}

.papers-th {
     text-align: center;
}

/* Alerts */
.alert {
     text-align: center;
     display: flex;
     align-items: center;
     justify-content: center;
}

/* Popup */
.popup {
     background-color: #ffffff;
     width: 520px;
     padding: 30px 40px;
     position: fixed;
     transform: translate(-50%, -50%);
     left: 50%;
     top: 50%;
     border-radius: 8px;
     font-family: "Poppins", sans-serif;
     display: none;
     text-align: center;
     z-index: 100;

     background: rgba(255, 255, 255, 0.55);
     box-shadow: 0 8px 32px 0 rgba(71, 31, 135, 0.37);
     backdrop-filter: blur(12px);
     border-radius: 10px;
     filter: saturate(2);
     /* border: 1px solid rgba(255, 255, 255, 0.18); */
     border: 1px solid #6640d920;
}

.popup button {
     display: block;
     margin: 0 0 20px auto;
     background-color: transparent;
     font-size: 30px;
     color: #ffffff;
     background: var(--main);
     border-radius: 100%;
     width: 40px;
     height: 40px;
     border: none;
     outline: none;
     cursor: pointer;
}

.popup h2 {
     margin-top: -20px;
     text-align: center;
}

.popup p {
     font-size: 16px;
     text-align: center;
     margin: 20px 0;
     line-height: 25px;
     color: #000;
}

.pop-a {
     display: block;
     width: 150px;
     position: relative;
     margin: 10px auto;
     text-align: center;
     background-color: var(--main-dark);
     border-radius: 20px;
     color: #ffffff;
     text-decoration: none;
     padding: 8px 0;
}

.pop-a:hover {
     background-color: var(--main);
     color: #fff;
}

/* Popup End*/
@media screen and (max-width:1200px) {
     .assignments-box {
          width: 290px;
     }

     .hamburger {
          display: inherit;
     }

     nav ul {
          flex-direction: column;
          align-items: center;
          justify-content: center;
          position: fixed;
          top: 80px;
          background-color: var(--main-dark);
          width: 100%;
          z-index: 100;
          left: -100%;
          opacity: 0;
          transition: all .3s ease;
     }

     nav.active ul {
          opacity: 1;
          padding: 3rem 0;
          left: 0;
     }

     nav ul li a {
          color: #fff;
     }

     nav ul li {
          margin: 1.3rem 0;
     }
}

@media screen and (max-width:930px) {
     .aboutus-row {
          flex-direction: column;
     }
}

@media screen and (max-width:820px) {



     #footer-main {
          flex-wrap: wrap;
          flex-direction: column;
     }

     .footer-main-desc {
          width: 90%;
          padding: 0;
     }

     .footer-rights {
          margin: 5rem 0;
     }

     .papers-table {
          width: 90%;
     }

     .papers-header h1 {
          font-size: 3rem;
     }
}

/** end footer **/
@media screen and (max-width:700px) {
     .manual-box {
          flex-direction: column;
     }

     .manual-desc {
          height: auto;
          width: 400px;
          border-radius: 0 0 1rem 1rem;
          border-top: none;
          border-left: 1px solid #bbbbbb;
          border-right: 1px solid #bbbbbb;
          border-bottom: 1px solid #bbbbbb;
     }

     .manual-img {
          width: 402px;
          height: 289px;
     }

     .notes-box {
          width: 80%;
     }

     .text-bg p {
          padding: .5rem 0;
     }

     .assignments-h1 {
          font-size: 5rem !important;
          line-height: 3rem !important;
     }

     .footer-main-desc h1 {
          font-size: 4rem;
     }
}

@media screen and (max-width:650px) {
     .assignments-box {
          width: 400px;
     }

     .aboutus {
          width: 90%;
     }

     .text-bg h1 {
          font-size: 45px;
     }
     .popup{
          width: 90%;
     }
}

@media screen and (max-width:430px) {

     .manual-desc {
          width: calc(90% - 1px);
     }

     .manual-img {
          width: 90%;
          height: 289px;
     }

     .manual-desc h1 {
          font-size: 20px;
     }

     .notes-box {
          width: 90%;
     }

     .assignments-box {
          width: 90%;
     }

     .assignments-h1 {
          font-size: 3rem !important;
          line-height: 0rem !important;
     }

     .navi-box {
          width: 90%;
     }

     .aboutus-row {
          width: 90%;
     }

     .our-team {
          width: 280px;
     }
}