@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600');



body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

nav {
    top: 0;
}

h1 {
    font-size: 60px;
    color: #b19af7;
    text-align: center;
    margin: 4rem 1.5rem;
}

h3 {
    height: 55px;
}

.t-p {
    height: 120px;
}

.t-body {
    background-image: url(/images/body_bg.png);
    background-size: cover;
    background-attachment: fixed;
}

.t-h2 {
    font-size: 4rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column-reverse;
    margin: 2rem 0;
}

.t-h3 {
    font-family: 'Lato', sans-serif;
}

.timeline {
    position: relative;
    margin: 50px auto;
    padding: 40px 0;
    width: 1000px;
    box-sizing: border-box;
}

.timeline:before {
    content: '';
    position: absolute;
    left: 50%;
    width: 2px;
    height: 100%;
    background: #c5c5c5;
}

.timeline ul {
    padding: 0;
    margin: 0;
}

.timeline ul li {
    list-style: none;
    position: relative;
    width: 50%;
    padding: 20px 40px;
    box-sizing: border-box;
}

.timeline ul li:nth-child(odd) {
    float: left;
    text-align: right;
    clear: both;
}

.timeline ul li:nth-child(even) {
    float: right;
    text-align: left;
    clear: both;
}

.content {
    padding-bottom: 20px;
}

.timeline ul li:nth-child(odd):before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    top: 24px;
    right: -6px;
    background: #6740d9;
    border-radius: 50%;
    box-shadow: 0 0 0 3px #b19af7;
}

.timeline ul li:nth-child(even):before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    top: 24px;
    left: -4px;
    background: #6740d9;
    border-radius: 50%;
    box-shadow: 0 0 0 3px #b19af7;
}

.timeline ul li h3 {
    padding: 0;
    margin: 0;
    color: #6740d9;
    font-weight: 600;
}

.timeline ul li p {
    margin: 10px 0 0;
    color: #fff;
    padding: 0;
}

.timeline ul li .time h4 {
    color: #fff;
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.timeline ul li:nth-child(odd) .time {
    position: absolute;
    top: 12px;
    right: -165px;
    margin: 0;
    padding: 8px 16px;
    background: #6740d9;
    color: #fff;
    border-radius: 18px;
    box-shadow: 0 0 0 3px #b19af7;
    transition: all .4s ease;
}

.timeline ul li:nth-child(odd):hover .time {
    box-shadow: 0 0 0 7px #b19af7;
}

.timeline ul li:nth-child(even) .time {
    position: absolute;
    top: 12px;
    left: -165px;
    margin: 0;
    padding: 8px 16px;
    background: #6740d9;
    color: #fff;
    border-radius: 18px;
    box-shadow: 0 0 0 3px #b19af7;
    transition: all .4s ease;
}

.timeline ul li:nth-child(even):hover .time {
    box-shadow: 0 0 0 7px #b19af7;
}

.web-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    background-attachment: fixed;
}

video {
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

.aks-container {
    width: 90vw;
    max-width: 900px;
    margin: 0 auto;
}

.aks-container-first-child {
    margin-top: 10rem;
}

.aks-page-description {
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
}

.aks-page-description h1 {
    margin: 0 0 5px 0;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 600;
}

.aks-page-description p {
    margin-bottom: 0;
}

section.aks-container {
    padding: 40px 0 50px 0;
}

section.aks-container h2 {
    margin-top: 0;
}

.t-btn {
    background-color: #6740d9;
    color: #fff !important;
    font-size: 2rem;
    padding: 0.5rem 1.5rem;
    height: 50px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3rem;
    cursor: pointer;
    margin: 2rem 0;
    margin-right: 3rem;
}
.t-btn.active:hover i{
    transform: rotate(0deg);
}
.t-btn:hover{
    color: #fff; 
}
.t-btn.active i{
    transform: rotate(90deg);
}
.t-btn:hover i{
    margin-left: 2rem;
    transform: rotate(90deg);
}
.t-btn i{
    transition: all .3s ease;
    margin-left: 1rem;
}
.t-show.active{
    height: 0px;
    overflow: hidden;
}

@media(max-width:1000px) {
    .timeline {
        width: 100%;
    }
}

@media(max-width:767px) {
    .timeline {
        width: 100%;
        padding-bottom: 0;
    }

    h1 {
        font-size: 40px;
        text-align: center;
    }

    .timeline:before {
        left: 20px;
        height: 100%;
    }

    .timeline ul li:nth-child(odd),
    .timeline ul li:nth-child(even) {
        width: 100%;
        text-align: left;
        padding-left: 50px;
        padding-bottom: 50px;
    }

    .timeline ul li:nth-child(odd):before,
    .timeline ul li:nth-child(even):before {
        top: -18px;
        left: 16px;
    }

    .timeline ul li:nth-child(odd) .time,
    .timeline ul li:nth-child(even) .time {
        top: -30px;
        left: 50px;
        right: inherit;
    }
    .t-h2 {
        font-size: 3rem;
    }
}